<app-header></app-header>
<main>
  <h1 class="center-align">{{ title }}!</h1>
  <div class="container">
    <div class="game-start center-align">
      <p>To start, generate a new word</p>
      <button mat-stroked-button color="accent" (click)="getRandomWord()">
        Generate word
      </button>
    </div>
    <div class="random-word-container center-align">
      RANDOM WORD -
      <div >
        <span class="random-word center-align" *ngFor="let letter of randomWord">
          <span>{{ letter }}</span>
        </span>
      </div>
    </div>
  </div>
</main>
