@import '../../../styles.scss';

.random-word {
    font-size: large;
    font-size: 6em;
    width: fit-content;
    text-shadow: 2px 2px #a16da7;
    background: #ede7f6;
    margin: 3px;
    padding: 2px;
    box-shadow: 2px 2px #a16da7;
}
.tryAgain{
    color: rgb(241, 82, 82)
}

.input-field {
    margin-top: 20px;
}
button{
    margin:10px
}