main {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.selected{
    margin-top: 10px;
    font-size: larger;
    color:#a16da7;
}
.score {
    padding: 10px;
    margin: auto;
    inline-size: max-content;
    border-radius: 50%;
    border: 2px solid rgba(138, 178, 191);
}

.reset-button{
    margin-top: 20px;
}
// .divider {
//     width: 2px;
//     margin-inline: 0.5rem;
//     background: linear-gradient(#6b0574, #9198e5, #2330c2);
// }

.user-selection {
    cursor: pointer;
}

.comp-selection {
    cursor: default;
    button {
        cursor: default;
    }
}

.row {
    justify-content: space-around;
}

.img-wrap {
    position: relative;
    width: 14vw;
}

.img-wrap:hover .png-image {
    opacity: 0.6;
}

.img-wrap:hover .middle-text {
    opacity: 1;
}
.img-wrap:hover .png-image {
    opacity: 0.6;
}

.img-text {
    background-color: #a16da7;
    color: white;
    font-size: 15px;
}
.selected{
   .middle-text {
        opacity: 1;
    }
}

.middle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    opacity: 0;
    transition: .5s ease;
    transform: translate(-25%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.png-image {
    opacity: 1;
    display: block;
    padding: 10px;
    margin: 10px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 100%;
    background: rgba(138, 178, 191, 0.726);
    border-radius: 20%;
    box-shadow: 4px 2px 4px 2px rgba(166, 201, 221, 0.785);
}
@media (max-width: 768px) {
    .png-image {
        opacity: 1;
        display: block;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        width: 100%;
        background: rgba(138, 178, 191, 0.726);
        border-radius: 20%;
        box-shadow: 4px 2px 4px 2px rgba(166, 201, 221, 0.785);
    }
    .img-wrap{
        width: 28vw;
    }
   .center-align{
    margin-top: 10px;
   }
}