<app-header></app-header>
<main>
  <h1 class="center-align">ROCK PAPER SCISSORS!</h1>
  <div class="container">
    <div class="row">
      <div class="user-selection col-md-auto">
        <div class="center-align">
          <h3>User</h3>
          <p class="score center-align">{{ userScore() }}</p>
        </div>
        <!-- <h3>Select one</h3> -->
        <div class="row">
          <div class="img-wrap col" (click)="playGame('rock')">
            <img src="assets/images/rock.png" class="png-image" />
            <div class="middle-text">
              <button mat-button class="img-text">Rock</button>
            </div>
          </div>
          <div class="img-wrap col" (click)="playGame('paper')">
            <img src="assets/images/paper.png" class="png-image" />
            <div class="middle-text">
              <button mat-button class="img-text">Paper</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="img-wrap col-6 align-items-center"
            (click)="playGame('scissor')"
          >
            <img src="assets/images/scissor.png" class="png-image" />
            <div class="middle-text">
              <button mat-button class="img-text">Scissor</button>
            </div>
          </div>
        </div>
      </div>
      <div class="divider" role="separator" aria-label="Divider"></div>
      <div class="comp-selection col-md-auto">
        <div class="center-align">
          <h3>Computer</h3>
          <p class="score">{{ compScore() }}</p>
        </div>

        <div class="row">
          <div class="img-wrap col">
            <img src="assets/images/rock.png" class="png-image" />
            <div class="middle-text">
              <button mat-button class="img-text">Rock</button>
            </div>
          </div>
          <div class="img-wrap col">
            <img src="assets/images/paper.png" class="png-image" />
            <div class="middle-text">
              <button mat-button class="img-text">Paper</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="img-wrap col-6 align-items-center">
            <img src="assets/images/scissor.png" class="png-image" />
            <div class="middle-text">
              <button mat-button class="img-text">Scissor</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    @if(showUserSelection) {
    <div class="selected center-align">
      <p>You selected {{ userSelection }}
      Computer got {{ compSelection }}</p>
      <span>{{winner }} </span>
    </div>
    }

    <div class="center-align reset-button"> 
      <button mat-stroked-button color="warn" (click)="resetData()">RESET</button></div>
  </div>
</main>
