@import "../styles.scss";

:host {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: "Madimi One", sans-serif;

}
@media (max-width: 600px) {
    body {
      width: 100%;
    }
  }
  
  html,body{
    width: 100%;
    height: 100%;
  }