<main >
  <div class="carousel">
    <div #imgRefName class="image-container" id="imgs">
      <img src="assets/images/slider-images/battleship.gif" alt="first-image" />
      <img
        src="assets/images/slider-images/animated-gif-cover.gif"
        alt="second-image"
      />
      <img src="assets/images/slider-images/scramble.gif" alt="third-image" />
      <img
        src="assets/images/slider-images/tic_tac_toe.gif"
        alt="fourth-image"
      />
    </div>
    <div class="buttons-container">
      <button id="left" class="btn">Prev</button>
      <button id="right" class="btn">Next</button>
    </div>
  </div>
</main>
