<!-- app-header.component.html -->
<div class="bg"></div>
<mat-toolbar #templateRefName>
  <button mat-icon-button class="icon-button-size" (click)="toggleSidenav()">
    <img src="assets/images/single-puzzle1.png" class="button-img" />
    <!-- <mat-icon>home</mat-icon> -->
  </button>
  <span class="spacer"></span>
  <span class="app-title">Game Z&#x263A;ne</span>
</mat-toolbar>

<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpen">

      <mat-nav-list>
        <a mat-list-item routerLink="/">Home</a>
        <a mat-list-item routerLink="/about">About</a>
        <a mat-list-item routerLink="/contact">Contact</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container> -->
