@keyframes animatedBck {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -1000px 0;
  }

}

.bg {
  background: url('../../../assets/images/puzzle-pieces.png');
  filter: blur(1px) contrast(1);
  animation: animatedBck 100s linear infinite;
  background-size: 50%;
  height: 130px;
  background-color: transparent;
  background-repeat: repeat-x;
}

.mat-sidenav-container {
  background-color: transparent;
  width: 50%;
}

.icon-button-size {
  transform: scale(1.4);
  margin-left: 15px;
  box-shadow: 2px 1px lightgray, inset 0 0 5px rgb(218, 216, 216);

}

.button-img {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.mat-toolbar {
  position: fixed;
  top: 40px;
  background-color: transparent;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

}

.spacer {
  flex: 1 1 auto;
}

.app-title {
  font-size: 1.6em;
  margin-right: 60px;
  font-weight: bold;
}