// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// @use '@angular/material/core/theming' as matTheme;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$custom-topography: mat.define-typography-config($font-family: "" Madimi One", sans-serif",

  );

$multi-game-platform-primary: mat.define-palette(mat.$indigo-palette);
$multi-game-platform-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$multi-game-platform-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$multi-game-platform-theme: mat.define-light-theme((color: (primary: $multi-game-platform-primary,
        accent: $multi-game-platform-accent,
        warn: $multi-game-platform-warn,
      ),
      typography:$custom-topography));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.



html,body{
  margin:0;
  padding: 0;
  height: 100%;
}
:host {
  @include mat.all-component-themes($multi-game-platform-theme);
  font-weight: 100;
}

.center-align {
  text-align: center;
}

.text-weight-less {
  font-weight: 100;
}