<app-header></app-header>
<main>
   <app-slider></app-slider>
  <div class="container">
    <h1>Multi Game Platform</h1>
    <div class="games-link">
      <h3 (click)="playRPS()" class="mat-h1">Rock Paper Scissors</h3>
      <h3 class="mat-display-1">Battleship</h3>
      <h3>Chess</h3>
      <!-- <h3>Test tubes</h3> -->
      
      <h3>Word Scamble</h3>
      <h3>Play Keyboard</h3>
      <h3>Random Number Generator</h3>
      <h3>Tic Tac Toe</h3>
      <h3>Minion Play</h3>
      <h3>Fill colors</h3>
    </div>
  </div>
  <div class="bg"></div>
 
</main>
