@import "../../styles.scss";

main {
  font-family: "Madimi One", sans-serif;
  font-weight: 100;
}

.games-link {
  cursor: pointer;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  justify-content: space-evenly;

}

h3 {
  flex: row wrap;
  margin: 10px;
  padding: 20px;
  justify-content: center;
  background: lightblue;
}

.bg {
  background: url('../../assets/images/puzzle-pieces.png');
  filter: blur(2px);

  background-size: 50%;
  height: 14vh;
  transform: scaleY(-1);
  position: relative;
  bottom: 0;
  background-color: transparent;
  background-repeat: repeat-x;
}